{% extends "base.html" %}
{% block title %}Email Form - My Website{% endblock %}

{% block content %}
    <div class="container" style="margin-top: 200px;">
        <div class="card" style="width: 60%; margin: 0 auto;">
            <div class="card-body">
                <h5 class="card-title text-center">Email Subscription</h5>
                <form class="d-flex" action="{% url "account_history" %}" method="GET">
                                                <input class="form-control me-2" type="email" placeholder="Search by Email" aria-label="Search" name="keyword">
                                                <button class="btn btn-danger" type="submit">Search</button>

                                            </form>
            </div>
        </div>
    </div>
    <br><br><br><br>
{% endblock %}
