{% extends "base.html" %}
{% block title %}Blog{% endblock %}


{% block content %}
</br></br>


<div class="container mt-5">
    <div class="section_title text-center mb-80">
        <h3><span>Blogs</span></h3>
    </div>
    <div class="row">
        <div class="col-md-10 offset-md-1">
            </br></br>
            {%for i in object_list %}

            <img src="{{i.pic.url}}" class="card-img-top" alt="Blog Image">
            <div class="card-body">
                <h5 class="card-title">{{ i.title }}</h5>
                <p class="card-text">{{i.author}}</p>
                <p class="card-text">{{i.body|safe|slice:"0:500"}}</p>
                <a href="{% url 'Blog-Detail' i.pk %}" class="btn btn-primary">Read More</a>
            </div>
            </br></br>
            </br></br>
            {% endfor %}


        </div>
    </div>
</div>

{% endblock %}